@charset "UTF-8";
/* Responsive Setup */
@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body{
	background-color: #f5f5f5;
	padding: 2rem 4rem 10rem;
	font-family: 'Raleway', sans-serif;
}

section{
	margin: 5rem 0 3rem;
}

.box{
	height: 100px;
	width: 200px;
	background-color: #1b90d3;
	border: 10px solid #0d70aa;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
<<<<<<< HEAD
	-o-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.ease-bounce{
	-webkit-transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-moz-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
=======
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
>>>>>>> b8f29e0e15ea3d6f4e77185d24a63b87c2fbf930
}


/* Box-1 - Moving on Hover */

.box-1{
	position: relative;
	left: 0; /* default value */
}

.box-1:hover{
	left: 100px;
}



/* Box-2 - Scale and Rotate Transforms */

.box-2{
}

.box-2:hover{
	-webkit-transform: scale(1.5, 1.5) rotate(-10deg);
	transform: scale(1.5, 1.5) rotate(-10deg);
}


/* Links */

.fancy-link, 
.fancy-link:link,
.fancy-link:visited{
	color: #1b90d3;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 0 solid #1b90d3;
}

.fancy-link:hover,
.fancy-link:focus,
.fancy-link:active{
	color: #0d70aa;
	border-bottom: 5px solid #0d70aa;
}


/* Social Icons */

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social li a,
.social li a:link,
.social li a:visited{
	display: inline-block;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align:center;
	padding-top: 0.8125rem;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	color: #fff;	
	/*background-color: #222;*/

	-webkit-box-shadow: inset 0px 0px 0px 40px #222;
	-moz-box-shadow: inset 0px 0px 0px 40px #222;
	-ms-box-shadow: inset 0px 0px 0px 40px #222;
	-o-box-shadow: inset 0px 0px 0px 40px #222;
	box-shadow: inset 0px 0px 0px 40px #222;

}

.social li a:hover,
.social li a:focus,
.social li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #222;
	-moz-box-shadow: inset 0px 0px 0px 3px #222;
	-ms-box-shadow: inset 0px 0px 0px 3px #222;
	-o-box-shadow: inset 0px 0px 0px 3px #222;
	box-shadow: inset 0px 0px 0px 3px #222;
	color: #222;
}









